@media screen and (max-width: 1024px) {
  .instagram-wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 650px) {
  body {
    background-color: #FFFFFF;
  }

  .group {
    border: unset;
  }

  .instagram-phone {
    display: none
  }

  .instagram-continue {
    width: 100%;
  }

  .instagram-wrapper {
    width: 90%;
  }
}